body {
  font-family: "Pacifico", cursive;
}

ul li {
  background-color: white;
  font-size: 1.5rem;
  margin: 5px;
  padding-left: 30px;
  position: relative;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

ul li span {
  padding: 0px 10px;
}

ul li p.taskText {
  flex: 1;
  word-break: break-word;
}
.bi-circle::before,
.bi-check-circle-fill::before {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 10px;
}
.show {
  display: flex !important;
}
